@{
    Layout = "~/Views/SiteMaster.cshtml";
    ViewBag.Title = "Candidatos Guardados";
}

<h1>Candidatos Guardados</h1>
<p>Aquí se muestran los candidatos que han sido guardados en la base de datos.</p>
